html {
  scroll-behavior: smooth;
}

*,
::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 50px;
  padding: 0;
}

.wrapper {
  border-collapse: collapse;
  text-align: center;
  width: 500px;
}

th,
td {
  border: 1px solid #000;
  border-color: #ccc;
  padding: 5px;
  transition: all 0.5s ease;
}

td:hover {
  background-color: #008080;
  transform: translateX(5px);
  border-start-start-radius: 40px;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  color: #fff;
}

td:active {
  opacity: 0.5;
}

 td:hover ~ td {
  background-color: #00808030;
 }